spring:
  application:
    name: BackendVictus
  main:
    web-application-type: reactive
  r2dbc:
    url: ${SPRING_R2DBC_URL:r2dbc:postgresql://localhost:5432/victus}
    username: ${SPRING_R2DBC_USERNAME:postgres}
    password: ${SPRING_R2DBC_PASSWORD:postgres}
    pool:
      initial-size: 5
      max-size: 20
  data:
    r2dbc:
      repositories:
        enabled: true
  jackson:
    default-property-inclusion: non_null

azure:
  servicebus:
    connection-string: ${AZURE_SERVICEBUS_CONNECTION_STRING:Endpoint=sb://local/}
    topic-name: ${AZURE_SERVICEBUS_TOPIC_NAME:vivienda}
  cosmos:
    endpoint: ${AZURE_COSMOS_ENDPOINT:https://localhost:8081}
    key: ${AZURE_COSMOS_KEY:local-key}
    database: ${AZURE_COSMOS_DATABASE:victus}
    container: ${AZURE_COSMOS_CONTAINER:viviendas}
    throughput: ${AZURE_COSMOS_THROUGHPUT:400}
  webpubsub:
    connection-string: ${AZURE_WEBPUBSUB_CONNECTION_STRING:Endpoint=https://local.webpubsub.azure.com;AccessKey=local;Version=1.0;}
    hub: ${AZURE_WEBPUBSUB_HUB:viviendas}

management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: INFO
    co.edu.uco.backendvictus: DEBUG

security:
  oauth2:
    resourceserver:
      jwt:
        issuer-uri: ${OAUTH_ISSUER_URI:https://login.microsoftonline.com/common/v2.0}
        jwk-set-uri: ${OAUTH_JWK_SET_URI:https://login.microsoftonline.com/common/discovery/v2.0/keys}
